<h3>All the posts/products/toys</h3>

    
    <%@post.each do |p| %>
        <div class="individual-post">
        <h4><a href="users/<%=p.user.id%>/posts"><%= p.user.name %></a></h4>
        <p><%= p.title%></p>
        <p><%= p.content%></p>
        <% if p.user == current_user%>
            <a href ="/posts/<%=p.id%>/edit"><button id="edit-button">Edit</button></a>
            <form action="/posts/<%=p.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" id="edit-button"><br>
            </form>
            <%end%>
        </div>
    <%end%>
   
<br>
<a href="/posts/new"><button class="button">Review a product</button></a>
<form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout" class="button">
</form>
