<h2>Hey there, Baby <%=@user.name%></h2>
<div class="home-page">
<p>Tell us what you're thinking!</p>
 <p><% @user.posts.each do |p| %>
        <div class="individual-post">
        <p><%= p.title%></p>
        <p><%= p.content%></p>
        <% if p.user == current_user%>
            <a href ="/posts/<%=p.id%>/edit"><button id="edit-button">Edit</button></a>
            <form action="/posts/<%=p.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" id="edit-button"><br>
            </form>
            <%end%>
        </div>
    <%end%>

</div>